@charset "UTF-8";
header {
  position: relative;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  z-index: 999; }
  header .container {
    padding: 20px 0; }
  header nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: 99;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 12px 15px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    -webkit-transform: translateY(-110%);
        -ms-transform: translateY(-110%);
            transform: translateY(-110%); }
    header nav .close_men {
      margin-bottom: 40px; }
    header nav .nav_panel_bottom {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      header nav .nav_panel_bottom a {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
    header nav ul {
      list-style-type: none;
      padding: 0;
      margin: 0 0 35px 0; }
      header nav ul li {
        position: relative;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #8E4955; }
        header nav ul li a {
          color: #313030;
          font: 1rem "400"; }
        header nav ul li svg {
          height: 18px;
          width: 18px;
          position: absolute;
          right: 0;
          top: 4px;
          -webkit-transition: .2s;
          -o-transition: .2s;
          transition: .2s; }
        header nav ul li .arr_active {
          -webkit-transform: rotate(90deg);
              -ms-transform: rotate(90deg);
                  transform: rotate(90deg); }
      header nav ul .sub_menu {
        display: none;
        margin: 0;
        list-style-type: none;
        padding: 0;
        margin-top: 5px; }
        header nav ul .sub_menu li {
          margin-left: 15px; }
        header nav ul .sub_menu li:last-child {
          margin: 0;
          padding: 0;
          margin-left: 15px;
          border: none; }
  header .nav_active {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); }
  header .header_wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    header .header_wrap .search {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
    header .header_wrap .heart {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
    header .header_wrap .bug {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
    header .header_wrap .heart {
      height: 20px;
      width: 20px;
      position: relative; }
      header .header_wrap .heart img {
        position: absolute; }
      header .header_wrap .heart img:last-child {
        opacity: 0; }
    header .header_wrap .heart_active img {
      opacity: 0; }
    header .header_wrap .heart_active img:last-child {
      opacity: 1; }

.out {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%); }

.item {
  margin-bottom: 20px; }

.item_slider {
  position: relative; }
  .item_slider .sale {
    background: #B72260;
    border-radius: 0px 0px 5px 5px;
    font: .95rem "400";
    padding: 6px 16px;
    color: #fff;
    z-index: 9;
    position: absolute;
    left: 0;
    top: 0; }
  .item_slider .heart_slide {
    position: absolute;
    right: 25px;
    bottom: 45px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 30px;
    z-index: 9;
    width: 30px; }
    .item_slider .heart_slide img {
      position: absolute;
      height: 30px;
      width: 30px; }
    .item_slider .heart_slide img:last-child {
      opacity: 0; }
  .item_slider .heart_slide_active img {
    opacity: 0; }
  .item_slider .heart_slide_active img:last-child {
    opacity: 1; }
  .item_slider .swiper-button-prev {
    color: rgba(90, 90, 90, 0.5); }
  .item_slider .swiper-button-next {
    color: rgba(90, 90, 90, 0.5); }
  .item_slider .swiper-pagination-bullet-active {
    background-color: rgba(90, 90, 90, 0.7) !important; }
  .item_slider .swiper-pagination-bullet {
    height: 12px;
    width: 12px;
    outline: none;
    opacity: 1;
    background: transparent;
    border: 1px solid #fff; }
  .item_slider .slider_box {
    height: 475px; }
    .item_slider .slider_box video {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
    .item_slider .slider_box img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }

.stok {
  padding: 10px 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(249, 40, 40, 0.24);
  color: #313030;
  font: .95rem "400"; }
  .stok svg {
    margin-right: 5px; }

.item_name {
  margin: 20px 0;
  color: #313030;
  font: 1.2rem/24px "400";
  padding: 0 20px;
  text-align: center; }

.item_reviews {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  padding: 0 15px; }
  .item_reviews .item_star {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 8px; }
    .item_reviews .item_star span {
      opacity: .6;
      margin-right: 4px; }
    .item_reviews .item_star .act {
      opacity: 1; }
  .item_reviews .item_rev_text {
    padding-left: 12px;
    border-left: 1px solid #000;
    font: 1rem "400"; }

.items_price {
  padding: 0 15px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .items_price .new_price {
    margin-right: 15px;
    color: #313030;
    font: 1.2rem "400";
    white-space: nowrap; }
  .items_price .old_price {
    white-space: nowrap;
    text-decoration: line-through;
    font: 1.2rem "300";
    margin-right: 15px; }
  .items_price .sale_price {
    padding: 3px 8px;
    text-align: center;
    background: #B72260;
    border-radius: 5px;
    color: #FFF;
    font: 1.125rem "400"; }

.items_color_wrap {
  display: grid;
  grid-template-columns: 35px 35px 35px 35px 35px 35px;
  grid-gap: 15px;
  padding: 0 15px;
  margin-bottom: 20px; }
  .items_color_wrap span {
    position: relative;
    height: 35px;
    width: 35px;
    border-radius: 50%; }
  .items_color_wrap .active_color::after {
    content: '';
    height: 38px;
    width: 38px;
    display: block;
    position: absolute;
    left: -3.3px;
    top: -3.5px;
    border: 2px solid #000;
    border-radius: 50%; }

.item_table {
  padding: 0 15px;
  margin-bottom: 20px; }
  .item_table .item_table_top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 15px; }
    @media (max-width: 380px) {
      .item_table .item_table_top {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px; } }
    .item_table .item_table_top .table_top_title {
      padding-left: 25px;
      color: #313030;
      font: 1rem "700";
      text-decoration: underline;
      position: relative;
      white-space: nowrap; }
      .item_table .item_table_top .table_top_title svg {
        top: 0;
        position: absolute;
        left: 0; }
    .item_table .item_table_top .table_top_size {
      white-space: nowrap;
      font: .87em "400"; }
      .item_table .item_table_top .table_top_size span {
        color: #B72260;
        font: .87rem "700"; }
  .item_table .item_table_size {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 13px 4px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15px; }
    @media (max-width: 360px) {
      .item_table .item_table_size {
        grid-template-columns: 1fr 1fr 1fr; } }
    @media (max-width: 320px) {
      .item_table .item_table_size {
        grid-template-columns: 1fr 1fr; } }
    .item_table .item_table_size .table_size_box {
      padding: 9px 3px;
      border: 1px solid #313030;
      border-radius: 5px;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .item_table .item_table_size .table_size_box:hover {
        background: #313030; }
        .item_table .item_table_size .table_size_box:hover p {
          color: #fff; }
        .item_table .item_table_size .table_size_box:hover span {
          color: #fff; }
      .item_table .item_table_size .table_size_box p {
        color: #313030;
        font: .95rem "600";
        text-align: center;
        white-space: nowrap; }
      .item_table .item_table_size .table_size_box span {
        font: .75rem "400";
        text-align: center;
        white-space: nowrap; }
    .item_table .item_table_size .table_size_box_active {
      background: #313030; }
      .item_table .item_table_size .table_size_box_active p {
        color: #fff; }
      .item_table .item_table_size .table_size_box_active span {
        color: #fff; }
    .item_table .item_table_size .disabled {
      opacity: .5;
      pointer-events: none; }
  .item_table .item_table_bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 15px; }
    @media (max-width: 380px) {
      .item_table .item_table_bottom {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px; } }
    .item_table .item_table_bottom .table_top_title {
      padding-left: 25px;
      color: #313030;
      font: 1rem "700";
      position: relative;
      white-space: nowrap; }
      .item_table .item_table_bottom .table_top_title svg {
        top: 0;
        position: absolute;
        left: 0; }
    .item_table .item_table_bottom .table_top_size {
      white-space: nowrap;
      font: .87em "400";
      color: #C4C4C4;
      text-decoration: underline; }

.item_col {
  margin-bottom: 20px;
  color: #B72260;
  font: 1.2rem "700";
  padding: 0 15px; }

.item_price {
  display: grid;
  grid-template-columns: 82px 1fr;
  grid-gap: 20px;
  padding: 0 15px; }
  .item_price .select_box {
    position: relative;
    border: 1px solid #000000;
    border-radius: 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 62px;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .item_price .select_box select {
      width: 40px;
      height: 20px;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      border: none;
      outline: none;
      background: #fff;
      color: #000;
      font: 1.2rem "400"; }
    .item_price .select_box svg {
      pointer-events: none;
      position: absolute;
      right: 20px; }
  .item_price .btn_buy {
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-transform: uppercase;
    font: 1.2rem "600"; }

.item_none {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #000000;
  border: 1px solid #000000;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font: 1.2rem "600";
  margin-top: 15px; }

.new_sale {
  margin: 0 10px;
  padding: 15px 10px;
  border: 1px solid #8E4955;
  border-radius: 5px;
  background: rgba(249, 40, 40, 0.09);
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .new_sale .new_sale_text {
    font: .9rem/19px "400";
    color: #B72260;
    max-width: 200px; }
  .new_sale .new_sale_price {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .new_sale .new_sale_price p {
      color: #313030;
      font: 1rem "600";
      margin-right: 10px;
      white-space: nowrap; }
    .new_sale .new_sale_price p:last-child {
      margin: 0;
      font: 1rem "300";
      text-decoration: line-through;
      color: #8F8D8B; }

.accordeon .acc-body {
  display: none;
  margin-top: 10px; }
  .accordeon .acc-body p {
    color: #313030;
    font: 1rem/19px "400";
    margin-bottom: 15px; }
  .accordeon .acc-body video {
    margin: 0 auto;
    display: block;
    height: 165px;
    width: 285px;
    -o-object-fit: cover;
       object-fit: cover; }

.accordeon .acc_box {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #8E4955; }
  .accordeon .acc_box .acc-head {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #8E4955;
    font: 1.2rem "700"; }
    .accordeon .acc_box .acc-head svg {
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
  .accordeon .acc_box .active_svg svg {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  .accordeon .acc_box .acc_img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .accordeon .acc_box .acc_img img {
      margin-right: 10px; }

.delivery {
  margin-bottom: 20px;
  background: rgba(249, 40, 40, 0.24); }
  .delivery .container {
    padding: 25px 15px; }
  .delivery .delivery_wrap {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px; }
    .delivery .delivery_wrap .delivery_item {
      padding-left: 25px;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 10px; }
      .delivery .delivery_wrap .delivery_item .delivery_title {
        position: relative;
        color: #313030;
        font: 1rem/19px "700"; }
        .delivery .delivery_wrap .delivery_item .delivery_title svg {
          top: -2px;
          position: absolute;
          left: -28px; }
      .delivery .delivery_wrap .delivery_item .delivery_text {
        font: 1rem/19px "400";
        color: rgba(49, 48, 48, 0.78); }
        .delivery .delivery_wrap .delivery_item .delivery_text span {
          color: #000; }
        .delivery .delivery_wrap .delivery_item .delivery_text strong {
          color: #8e4955; }

.help {
  height: 395px;
  position: relative; }
  .help .help_img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.help_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 9; }
  .help_wrap .help_title {
    font: 1.2rem "700";
    color: #313030;
    margin-bottom: 15px;
    text-align: center; }
  .help_wrap .help_text {
    text-align: center;
    margin-bottom: 15px;
    font: 1rem/19px "400"; }
  .help_wrap .help_btn_wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .help_wrap .help_btn_wrap a {
      padding: 15px 35px;
      text-align: center;
      font: 1.2rem "600";
      color: #fff;
      background: #B72260;
      border: 1px solid rgba(249, 40, 40, 0.1);
      border-radius: 5px;
      text-transform: uppercase; }

.reviews .reviews_title {
  color: #8E4955;
  letter-spacing: 0.05em;
  font: 1.875rem "700";
  text-align: center;
  margin-bottom: 25px; }

.reviews .reviews_panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  margin-bottom: 35px; }
  .reviews .reviews_panel a {
    padding: 5px;
    cursor: pointer;
    text-align: center;
    background: #313030;
    border-radius: 5px;
    border: 1px solid #313030;
    color: #fff;
    white-space: nowrap;
    font: 1rem "400";
    text-transform: uppercase; }
  .reviews .reviews_panel a:last-child {
    background: transparent;
    color: #313030; }

.reviews .reviews_container {
  margin-bottom: 20px; }
  .reviews .reviews_container .tabs__caption {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 0 20px 0;
    padding: 0;
    list-style-type: none;
    border-bottom: 1px solid #8E4955; }
    .reviews .reviews_container .tabs__caption li {
      font: 1.2rem "400";
      color: #313030;
      position: relative; }
      .reviews .reviews_container .tabs__caption li span {
        color: #8f8d8b; }
    .reviews .reviews_container .tabs__caption li.active::after {
      content: '';
      height: 3px;
      width: 100%;
      display: block;
      position: absolute;
      bottom: -2px;
      left: 0;
      background: #8E4955; }
    .reviews .reviews_container .tabs__caption li:first-child {
      padding: 0 20px 15px 0; }
    .reviews .reviews_container .tabs__caption li:last-child {
      padding: 0 0 15px 20px; }
  .reviews .reviews_container .reviews_container_wrap .reviews_container_item {
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #8E4955; }
    .reviews .reviews_container .reviews_container_wrap .reviews_container_item .reviews_name {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-bottom: 20px; }
      .reviews .reviews_container .reviews_container_wrap .reviews_container_item .reviews_name .name {
        color: #313030;
        font: 1.2rem "400"; }
      .reviews .reviews_container .reviews_container_wrap .reviews_container_item .reviews_name .data {
        color: #434343;
        font: .95rem "400"; }
    .reviews .reviews_container .reviews_container_wrap .reviews_container_item .review_star {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 20px; }
      .reviews .reviews_container .reviews_container_wrap .reviews_container_item .review_star span {
        opacity: .6;
        margin-right: 10px; }
      .reviews .reviews_container .reviews_container_wrap .reviews_container_item .review_star .act {
        opacity: 1; }
    .reviews .reviews_container .reviews_container_wrap .reviews_container_item .reviews_text_wrap {
      display: grid;
      grid-template-columns: 1fr 135px;
      grid-gap: 10px; }
      .reviews .reviews_container .reviews_container_wrap .reviews_container_item .reviews_text_wrap .output_reviews strong {
        margin-bottom: 10px;
        display: block;
        font: 1rem/19px "700"; }
      .reviews .reviews_container .reviews_container_wrap .reviews_container_item .reviews_text_wrap .output_reviews p {
        margin-bottom: 15px;
        font: 1rem/19px "400"; }
      .reviews .reviews_container .reviews_container_wrap .reviews_container_item .reviews_text_wrap .output_reviews a {
        text-decoration: underline;
        color: #8E4955;
        font: 1rem "400";
        position: relative;
        padding-right: 15px; }
        .reviews .reviews_container .reviews_container_wrap .reviews_container_item .reviews_text_wrap .output_reviews a::after {
          content: url(../img/icon/arr.svg);
          position: absolute;
          right: 0;
          top: 1px; }
      .reviews .reviews_container .reviews_container_wrap .reviews_container_item .reviews_text_wrap .img_product {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
            -ms-flex-align: end;
                align-items: flex-end; }
        .reviews .reviews_container .reviews_container_wrap .reviews_container_item .reviews_text_wrap .img_product img {
          width: 100%;
          height: auto;
          -o-object-fit: cover;
             object-fit: cover;
          margin-bottom: 15px; }
        .reviews .reviews_container .reviews_container_wrap .reviews_container_item .reviews_text_wrap .img_product .name_product {
          color: #313030;
          text-align: right;
          margin-bottom: 5px;
          font: 1rem "600";
          margin-bottom: 5px;
          white-space: nowrap; }
        .reviews .reviews_container .reviews_container_wrap .reviews_container_item .reviews_text_wrap .img_product .type_product {
          white-space: nowrap;
          color: #313030;
          font: 1rem "400"; }
  .reviews .reviews_container .reviews_container_wrap .reviews_container_item:last-child {
    margin: 0;
    padding: 0;
    border: none; }

.reviews .pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  list-style-type: none;
  padding: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .reviews .pagination li {
    margin: 0 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .reviews .pagination li a {
      font: 1rem "400";
      color: #000; }
    .reviews .pagination li span {
      color: #000;
      font: 1rem "600"; }

.tabs__content {
  display: none;
  /* по умолчанию прячем все блоки */ }

.tabs__content.active {
  display: block;
  /* по умолчанию показываем нужный блок */ }

.watch .watch_title {
  color: #8E4955;
  letter-spacing: 0.05em;
  font: 1.875rem/1 "700";
  text-align: center;
  margin-bottom: 25px; }

.watch .watch_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px; }
  .watch .watch_wrap .watch_item .watch_item_img {
    height: 200px;
    position: relative;
    margin-bottom: 15px; }
    .watch .watch_wrap .watch_item .watch_item_img span {
      background: #B72260;
      border-radius: 0px 0px 5px 5px;
      font: .8rem "400";
      padding: 2px 5px;
      color: #fff;
      position: absolute;
      left: 0;
      top: 0; }
    .watch .watch_wrap .watch_item .watch_item_img .favorite {
      position: absolute;
      right: 15px;
      top: 12px; }
    .watch .watch_wrap .watch_item .watch_item_img img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .watch .watch_wrap .watch_item .watch_item_text {
    font: 1rem/19px "400";
    text-align: center;
    color: #313030;
    margin-bottom: 10px; }
  .watch .watch_wrap .watch_item .watch_item_price {
    font: 1rem "600";
    text-align: center;
    color: #313030;
    margin-bottom: 15px; }
  .watch .watch_wrap .watch_item .watch_item_star {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .watch .watch_wrap .watch_item .watch_item_star .watch_star {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .watch .watch_wrap .watch_item .watch_item_star .watch_star span {
        opacity: .6;
        margin-right: 5px; }
      .watch .watch_wrap .watch_item .watch_item_star .watch_star .act {
        opacity: 1; }
    .watch .watch_wrap .watch_item .watch_item_star p {
      font: 1rem "400";
      text-align: right;
      color: #313030; }

footer {
  background: #313030; }
  footer .container {
    padding: 25px 0; }
  footer .logo_footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 12px; }
  footer .sale_text {
    font: 1.125rem "600";
    margin-bottom: 20px;
    color: #fff;
    letter-spacing: 0.015em;
    text-align: center;
    display: block; }
  footer .subscribe_form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 25px; }
    footer .subscribe_form input {
      width: 100%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 5px 10px;
      background: #C4C4C4;
      border-radius: 5px 0px 0px 5px;
      letter-spacing: 0.015em;
      font: 1rem "400";
      color: #313030;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      outline: none;
      border: none; }
    footer .subscribe_form input::-webkit-input-placeholder {
      font: 1rem "400";
      color: #313030; }
    footer .subscribe_form button {
      padding: 7px 10px;
      font: 1rem "600";
      color: #fff;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      outline: none;
      border: none;
      border-radius: 0px 5px 5px 0px;
      background: #000; }
  footer .social_wrap {
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 25px;
    width: 310px; }
    footer .social_wrap a {
      margin: 0 5px; }
    footer .social_wrap a:last-child {
      margin-left: 0; }
    footer .social_wrap a:first-child {
      margin-right: 0; }
  footer .phone_tel {
    text-align: center;
    display: block;
    margin-bottom: 25px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #fff;
    font: 1.875rem "600"; }
  footer .footer_menu {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    margin-bottom: 30px; }
    footer .footer_menu a {
      letter-spacing: 0.015em;
      color: #fff;
      font: 1rem "400";
      white-space: nowrap; }
    footer .footer_menu li:nth-child(3) {
      text-align: right; }
    footer .footer_menu li:last-child {
      text-align: right; }
  footer .politika {
    letter-spacing: 0.015em;
    font: .87rem "400";
    color: #FFFFFF;
    margin-bottom: 35px;
    display: block; }
  footer .name_footer {
    font: 1rem "400";
    letter-spacing: 0.015em;
    color: #FFFFFF;
    margin-bottom: 3px; }
  footer .text_footer {
    max-width: 240px;
    font: .8rem "400";
    letter-spacing: 0.015em;
    color: #FFFFFF; }

.modal_size {
  max-width: 600px;
  padding: 15px;
  background: #fff;
  border-radius: 5px;
  position: relative; }
  .modal_size .mfp-close {
    display: none !important; }
  .modal_size .modal_title {
    color: #313030;
    font: 1.2rem "700";
    margin-bottom: 15px; }
  .modal_size .modal_text {
    margin-bottom: 15px;
    font: .95rem/18px "400"; }
  .modal_size .modal_size_wrap {
    margin-bottom: 20px;
    border: 1px solid #8E4955; }
    .modal_size .modal_size_wrap div:nth-child(2n) {
      background: rgba(249, 40, 40, 0.1); }
    .modal_size .modal_size_wrap .modal_size_title {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr; }
      .modal_size .modal_size_wrap .modal_size_title p {
        color: #8E4955;
        font: 1rem "700";
        border-right: 1px solid #8E4955;
        border-bottom: 1px solid #8E4955;
        padding: 12px;
        text-align: center; }
      .modal_size .modal_size_wrap .modal_size_title p:last-child {
        border-right: none; }
    .modal_size .modal_size_wrap .modal_size_item {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr; }
      .modal_size .modal_size_wrap .modal_size_item p {
        color: #000;
        font: 1rem "400";
        border-right: 1px solid #8E4955;
        border-bottom: 1px solid #8E4955;
        padding: 12px;
        text-align: center;
        text-transform: uppercase; }
      .modal_size .modal_size_wrap .modal_size_item p:last-child {
        border-right: none; }
    .modal_size .modal_size_wrap .modal_size_item:last-child p {
      border-bottom: none; }
  .modal_size .modal_bottom {
    background: rgba(249, 40, 40, 0.1);
    border-radius: 5px;
    padding: 20px 15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px; }
    .modal_size .modal_bottom .modal_item {
      display: grid;
      grid-template-columns: 42px 1fr;
      grid-gap: 20px; }
      .modal_size .modal_bottom .modal_item .modal_item_text .title {
        color: #313030;
        font: 1rem "600"; }
      .modal_size .modal_bottom .modal_item .modal_item_text .text {
        color: rgba(49, 48, 48, 0.78);
        font: 1rem "400"; }
        .modal_size .modal_bottom .modal_item .modal_item_text .text span {
          text-decoration: underline;
          font: 1rem "600"; }

.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8); }

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0; }

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out; }

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8; }

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0; }

/**
 * Fade-move animation for second dialog
 */
/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  -ms-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  transform: translateY(-20px) perspective(600px) rotateX(10deg); }

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: translateY(0) perspective(600px) rotateX(0);
  -ms-transform: translateY(0) perspective(600px) rotateX(0);
  transform: translateY(0) perspective(600px) rotateX(0); }

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
  opacity: 0;
  -webkit-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  -ms-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  transform: translateY(-10px) perspective(600px) rotateX(10deg); }

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out; }

/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
  opacity: 0.8; }

/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
  opacity: 0; }

@font-face {
  font-family: '700';
  src: url("../fonts/ProximaNova-Bold.eot") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype"); }

@font-face {
  font-family: '600';
  src: url("../fonts/ProximaNova-Semibold.eot") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype"); }

@font-face {
  font-family: '400';
  src: url("../fonts/ProximaNova-Regular.eot") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype"); }

@font-face {
  font-family: '300';
  src: url("../fonts/ProximaNova-Light.eot") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff2") format("woff2"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype"); }

html,
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0; }

button {
  outline: none; }

.padding {
  padding: 0 60px; }
  @media (max-width: 1400px) {
    .padding {
      padding: 0 45px; } }
  @media (max-width: 990px) {
    .padding {
      padding: 0 15px; } }

.padding_mob {
  padding: 0 70px; }
  @media (max-width: 1280px) {
    .padding_mob {
      padding: 0 45px; } }
  @media (max-width: 990px) {
    .padding_mob {
      padding: 0 15px; } }
  @media (max-width: 576px) {
    .padding_mob {
      padding: 0; } }

.margin {
  margin-bottom: 80px; }
  @media (max-width: 990px) {
    .margin {
      margin-bottom: 40px; } }

main {
  margin-top: 66px;
  min-height: -webkit-calc(100vh - 80px);
  min-height: calc(100vh - 80px); }

a {
  outline: none;
  text-decoration: none; }
