@font-face {
    font-family: 'ProximaNova';
    font-weight: 400;
    src: url('../fonts/proxima-nova-regular.ttf') format('ttf');
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova';
    font-weight: 600;
    src: url('../fonts/proxima-nova-semibold.ttf') format('ttf');
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova';
    font-weight: 800;
    src: url('../fonts/proxima-nova-bold.ttf') format('ttf');
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova';
    font-weight: 900;
    src: url('../fonts/proxima-nova-bold.ttf') format('ttf');
    font-display: swap;
}