html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  display: inline-block;
}

body {
  font-family: 'ProximaNova';
  font-size: 14px;
}

ul,
li {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
}

.social {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;

  &__item {
    list-style: none;
  }

  &__link {
    text-decoration: none;
  }

  &__text {
    display: block;
    font-size: 12px;
    margin: 10px 0 20px 0;
    color: #fff;
  }
}

.list-style {
  padding-left: 24px;
  position: relative;

  &::after,
  &::before {
    content: "";
    position: absolute;
    border-radius: 50%;
  }

  &::before {
    width: 18px;
    height: 18px;
    background-color: #fff;
    left: 0;
    top: 0;
  }

  &::after {
    width: 9px;
    height: 9px;
    background-color: #C2A09A;
    left: 4.5px;
    top: 4.5px;
  }
}