header {
    position: relative;
    transition: .3s;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    z-index: 999;
    .container {
        padding: 20px 0;
    }
    nav {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        width: 100vw;
        z-index: 99;
        box-sizing: border-box;
        transition: .3s;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        padding: 12px 15px;
        transition: .2s;
        transform: translateY(-110%);
        .close_men {
            margin-bottom: 40px;
        }
        .nav_panel_bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            a {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0 0 35px 0;
            li {
                position: relative;
                padding-bottom: 10px;
                margin-bottom: 10px;
                border-bottom: 1px solid #8E4955;
                a {
                    color: #313030;
                    font: 1rem "400";
                }
                svg {
                    height: 18px;
                    width: 18px;
                    position: absolute;
                    right: 0;
                    top: 4px;
                    transition: .2s;
                }
                .arr_active {
                    transform: rotate(90deg);
                }
            }
            .sub_menu {
                display: none;
                margin: 0;
                list-style-type: none;
                padding: 0;
                margin-top: 5px;
                li {
                    margin-left: 15px;
                }
                li:last-child {
                    margin: 0;
                    padding: 0;
                    margin-left: 15px;
                    border: none;
                }
            }
        }
    }
    .nav_active {
        transform: translateY(0);
    }
    .header_wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .search {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .heart {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .bug {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .heart {
            height: 20px;
            width: 20px;
            position: relative;
            img {
                position: absolute;
            }
            img:last-child {
                opacity: 0;
            }
        }
        .heart_active {
            img {
                opacity: 0;
            }
            img:last-child {
                opacity: 1;
            }
        }
    }
}

.out {
    transform: translateY(-100%);
}