.item {
    margin-bottom: 20px;
}

.item_slider {
    position: relative;
    .sale {
        background: #B72260;
        border-radius: 0px 0px 5px 5px;
        font: .95rem "400";
        padding: 6px 16px;
        color: #fff;
        z-index: 9;
        position: absolute;
        left: 0;
        top: 0;
    }
    .heart_slide {
        position: absolute;
        right: 25px;
        bottom: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        z-index: 9;
        width: 30px;
        img {
            position: absolute;
            height: 30px;
            width: 30px;
        }
        img:last-child {
            opacity: 0;
        }
    }
    .heart_slide_active {
        img {
            opacity: 0;
        }
        img:last-child {
            opacity: 1;
        }
    }
    .swiper-button-prev {
        color: rgba(90, 90, 90, 0.5);
    }
    .swiper-button-next {
        color: rgba(90, 90, 90, 0.5);
    }
    .swiper-pagination-bullet-active {
        background-color: rgba(90, 90, 90, 0.7)!important;
    }
    .swiper-pagination-bullet {
        height: 12px;
        width: 12px;
        outline: none;
        opacity: 1;
        background: transparent;
        border: 1px solid #fff;
    }
    .slider_box {
        height: 475px;
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.stok {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    background: rgba(249, 40, 40, 0.24);
    color: #313030;
    font: .95rem "400";
    svg {
        margin-right: 5px;
    }
}

.item_name {
    margin: 20px 0;
    color: #313030;
    font: 1.2rem/24px "400";
    padding: 0 20px;
    text-align: center;
}

.item_reviews {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 0 15px;
    .item_star {
        display: flex;
        align-items: center;
        margin-right: 8px;
        span {
            opacity: .6;
            margin-right: 4px;
        }
        .act {
            opacity: 1;
        }
    }
    .item_rev_text {
        padding-left: 12px;
        border-left: 1px solid #000;
        font: 1rem "400";
    }
}

.items_price {
    padding: 0 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    .new_price {
        margin-right: 15px;
        color: #313030;
        font: 1.2rem "400";
        white-space: nowrap;
    }
    .old_price {
        white-space: nowrap;
        text-decoration: line-through;
        font: 1.2rem "300";
        margin-right: 15px;
    }
    .sale_price {
        padding: 3px 8px;
        text-align: center;
        background: #B72260;
        border-radius: 5px;
        color: #FFF;
        font: 1.125rem "400";
    }
}

.items_color_wrap {
    display: grid;
    grid-template-columns: 35px 35px 35px 35px 35px 35px;
    grid-gap: 15px;
    padding: 0 15px;
    margin-bottom: 20px;
    span {
        position: relative;
        height: 35px;
        width: 35px;
        border-radius: 50%;
    }
    .active_color {
        &::after {
            content: '';
            height: 38px;
            width: 38px;
            display: block;
            position: absolute;
            left: -3.3px;
            top: -3.5px;
            border: 2px solid #000;
            border-radius: 50%;
        }
    }
}

.item_table {
    padding: 0 15px;
    margin-bottom: 20px;
    .item_table_top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
        @media (max-width: 380px) {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 5px;
        }
        .table_top_title {
            padding-left: 25px;
            color: #313030;
            font: 1rem "700";
            text-decoration: underline;
            position: relative;
            white-space: nowrap;
            svg {
                top: 0;
                position: absolute;
                left: 0;
            }
        }
        .table_top_size {
            white-space: nowrap;
            font: .87em "400";
            span {
                color: #B72260;
                font: .87rem "700";
            }
        }
    }
    .item_table_size {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 13px 4px;
        align-items: center;
        margin-bottom: 15px;
        @media (max-width: 360px) {
            grid-template-columns: 1fr 1fr 1fr;
        }
        @media (max-width: 320px) {
            grid-template-columns: 1fr 1fr;
        }
        .table_size_box {
            padding: 9px 3px;
            border: 1px solid #313030;
            border-radius: 5px;
            transition: .3s;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            &:hover {
                background: #313030;
                p {
                    color: #fff;
                }
                span {
                    color: #fff;
                }
            }
            p {
                color: #313030;
                font: .95rem "600";
                text-align: center;
                white-space: nowrap;
            }
            span {
                font: .75rem "400";
                text-align: center;
                white-space: nowrap;
            }
        }
        .table_size_box_active {
            background: #313030;
            p {
                color: #fff;
            }
            span {
                color: #fff;
            }
        }
        .disabled {
            opacity: .5;
            pointer-events: none;
        }
    }
    .item_table_bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
        @media (max-width: 380px) {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 5px;
        }
        .table_top_title {
            padding-left: 25px;
            color: #313030;
            font: 1rem "700";
            position: relative;
            white-space: nowrap;
            svg {
                top: 0;
                position: absolute;
                left: 0;
            }
        }
        .table_top_size {
            white-space: nowrap;
            font: .87em "400";
            color: #C4C4C4;
            text-decoration: underline;
        }
    }
}

.item_col {
    margin-bottom: 20px;
    color: #B72260;
    font: 1.2rem "700";
    padding: 0 15px;
}

.item_price {
    display: grid;
    grid-template-columns: 82px 1fr;
    grid-gap: 20px;
    padding: 0 15px;
    .select_box {
        position: relative;
        border: 1px solid #000000;
        border-radius: 5px;
        display: flex;
        align-items: center;
        height: 62px;
        width: 100%;
        justify-content: center;
        select {
            width: 40px;
            height: 20px;
            appearance: none;
            border: none;
            outline: none;
            background: #fff;
            color: #000;
            font: 1.2rem "400";
        }
        svg {
            pointer-events: none;
            position: absolute;
            right: 20px;
        }
    }
    .btn_buy {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        background: #000000;
        border: 1px solid #000000;
        border-radius: 5px;
        text-align: center;
        padding: 20px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font: 1.2rem "600";
    }
}

.item_none {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font: 1.2rem "600";
    margin-top: 15px;
}

.new_sale {
    margin: 0 10px;
    padding: 15px 10px;
    border: 1px solid #8E4955;
    border-radius: 5px;
    background: rgba(249, 40, 40, 0.09);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .new_sale_text {
        font: .9rem/19px "400";
        color: #B72260;
        max-width: 200px;
    }
    .new_sale_price {
        display: flex;
        align-items: center;
        justify-content: center;
        p {
            color: #313030;
            font: 1rem "600";
            margin-right: 10px;
            white-space: nowrap;
        }
        p:last-child {
            margin: 0;
            font: 1rem "300";
            text-decoration: line-through;
            color: #8F8D8B;
        }
    }
}