.consultation {
    &__inner {
        width: 100%;
        min-height: 520px;
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        padding: 0 20px;
    }

    &__box {
        padding: 30px 20px 0;
        border-radius: 20px 20px 0px 0px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: #C1A790;
        color: #fff;
        text-align: center;
    }

    &__title {
        font-weight: 800;
        font-size: 19px;
        line-height: 20px;
        margin-bottom: 30px;
    }

    &__info {
        display: flex;
        justify-content: space-between;
    }

    &__text {
        max-width: 160px;
        width: 100%;
        font-weight: 700;
        font-size: 14px;
        padding-left: 24px;
        position: relative;
        text-align: left;
        margin-bottom: 35px;

        &::after,
        &::before {
            content: "";
            position: absolute;
            border-radius: 50%;
        }

        &::before {
            width: 18px;
            height: 18px;
            background-color: #fff;
            left: 0;
            top: 0;
        }

        &::after {
            width: 9px;
            height: 9px;
            background-color: #C2A09A;
            left: 5px;
            top: 5px;
        }
    }
}