.product-card {
    max-width: 160px;
    width: 100%;
    margin-bottom: 50px;

    &__img-wrap {
        position: relative;
        margin-bottom: 10px;
    }

    &__img {
        min-height: 215px;
        border-radius: 4px;
    }

    &__category {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 10px;
        font-weight: 800;
        color: #fff;
        border-radius: 4px 0;
        padding: 4px 19px;

        &--burgundy {
            background-color: #B72260;
        }

        &--red {
            background-color: #CD0404;
            padding: 4px 12px;
        }
    }

    &__favorites {
        position: absolute;
        right: 0;
        top: 6px;
        background-color: transparent;
        border: transparent;

        &.active {
            .product-card__heart {
                display: none;

                &--on {
                    display: block;
                }
            }
        }
    }

    &__heart {
        width: 22px;
        height: 20px;
        fill: #fff;

        &--on {
            display: none;
        }
    }

    &__title {
        font-size: 14px;
        font-weight: 600;
        line-height: 15px;
        margin-bottom: 5px;
    }

    &__star {
        display: flex;
    }

    &__reviews {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    &__link {
        text-decoration: none;
        color: #000;
        font-size: 12px;
        margin-left: 6px;
    }

    &__price {
        font-size: 18px;
        line-height: 20px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    &__span {
        position: relative;
        font-size: 11px;
        font-weight: 600;
        color: #929292;
        margin-left: 3px;

        &::before {
            content: "";
            position: absolute;
            width: 55px;
            height: 1px;
            background-color: #929292;
            left: -1px;
            bottom: 5px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        flex-wrap: wrap;
        min-height: 21px;
        margin-bottom: 15px;
    }

    &__item {
        &+& {
            margin-left: 26px;
        }
    }

    &__input {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        padding-left: 20px;
    }

    &__check {
        position: absolute;
        width: 16px;
        height: 16px;
        margin-right: -20px;
        border-radius: 50%;

        &--black {
            background-color: #000;
        }

        &--beige {
            background-color: #DCC8B2;
        }

        &--pale-gray-brown {
            background-color: #B39A7E;
        }

        &--brownish-pink {
            background-color: #CFA97E;
        }
    }

    &__input:checked {
        +.product-card__check {
            &::before {
                content: "";
                width: 21px;
                height: 21px;
                border: 1px solid #000;
                position: absolute;
                border-radius: 50%;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    &__box {
        display: flex;
        justify-content: space-between;
    }

    &__modal {
        font-size: 12px;
        color: #000;
        border: 1px solid #000;
        border-radius: 2px;
        padding: 7px 22px;
        text-decoration: none;
    }

    &__btn {
        display: flex;
        align-items: center;
        padding: 2px 15px;
        border-radius: 2px;
        background-color: #000;
    }

    &__basket {
        width: 15px;
        height: 20px;
    }
}